<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a class= "link" href="/">Welcome!</a>
        </li>
        <li>
          <a class= "link" href="/rules">Rules</a>
        </li>
        <li>
          <a class= "link" href="/result">Result</a>
        </li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      <ul>
        <li>&copy 2Testers 2019</li>
      </ul>
    </footer>
  </body>
</html>
