<h1>The Rules</h1>
<p>To play the game, type "localhost:4567/play/'player1'/'player2'" where you substitute either "rock", "paper", or "scissors" where player1 and player2 are in th path</p>
<ul>
  <li>Rock sharpens Scissors (Rock wins)</li>
  <li>Scissors cut Paper (Scissors wins)</li>
  <li>Paper covers Rock (Paper wins)</li>
</ul>
